$Green1: rgb(56, 219, 56);
$Green2: rgb(9, 122, 9);
$Green3: rgb(4, 83, 4);
$Green4: rgb(143, 206, 143);
$Padding1: 70px;

.jumbotron {
    background-color: $Green2;
    text-align: center;
    height: 300px;
    padding: 120px 70px;
    color: rgb(255, 255, 255);
    font-size: 40px;

    h2 {
        font-size: 60px;
    }
}

#services {
    margin: $Padding1;
    background-color: $Green4;
    padding: $Padding1;

    h3 {
        font-size: 50px;
        color: rgb(255, 255, 255);
    }

    .card {
        padding: 50px 70px;
    }
}

.navbar {
    background-color: $Green3;
}

#card {
    height: 190px;
    padding: 20px;
    box-shadow: 5px 10px 10px 5px rgb(105, 105, 105);

    a {
        color: $Green3;
    }

    p {
        color: $Green3;
        ;
    }
}

#card-hover :hover {
    background-color: $Green3;
    
    a {
        color: rgb(255, 255, 255);
    }
    p {
        color: rgb(255, 255, 255);
    }
}

#section2 {
    padding: 70px;

    .card {
        padding: 30px;
        margin: 10px;

        a {
            color: $Green2;
        }
    }

    #hover :hover {
        background-color: $Green2;
        color: rgb(255, 255, 255);

        a {
            color: rgb(255, 255, 255);
        }

        p {
            color: rgb(255, 255, 255);
        }
    }
}

#section3 {
    background-image: url("./images/pexels-markus-spiske-96593.jpg");
    background-size: 1500px 700px;
    height: 700px;
    margin-bottom: 40px;
    padding: 50px 70px;

    .media {
        font-size: 30px;
        color: rgb(255, 255, 255);

        h3 {
            font-size: 60px;
            color: rgb(255, 255, 255);
        }
    }
}

#whyConnect {
    background-color: rgb(200, 172, 8);
    height: 700px;
    padding: 100px 20px;
    margin-bottom: 40px;

    h2 {
        font-size: 50px;
        color: rgb(255, 255, 255);
        padding: 20px;
    }
    li {
        font-size: 30px;
        color: rgb(255, 255, 255);
        padding: 20px;
    }
}

footer {
    padding: $Padding1;
    background-color: $Green2;
}